<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <form action="/create" method="POST">
            <input type="text" name="nome" placeholder="Nome completo" />
            <input type="email" name="email" placeholder="exemplo@gmail.com" />
            <input type="tel" name="telefone" placeholder="EX: 1188299384" />
            <input type="text" name="endereco" placeholder="Rua do fulano de tal" />
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>