* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: auto;
    width: 50%;
}

ul {
    padding-left: 0;
}

li {
    padding: 20px;
    list-style: none;
    border: solid 1px #cecece;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #111;
    color: #fff;
    border-left: solid 10px orange;
}


.main-list li .delete {
    background: #e74c3c;
    padding: 8px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 8px;
}

.main-list li .update {
    background: #f1c40f;
    padding: 8px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 8px;
}


.mt-100 {
    margin-top: 100px;
}

input {
    padding: 14px;
    border: solid 1px #cecece;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}

form {
    border: solid 1px #cecece;
    padding: 30px;
    margin-top: 120px;
}

.edit {
    padding: 14px;
    border-radius: 5px;
    background: #f1c40f;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    border: solid 1px #f1c40f;
    color: #222;
}


